* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Core Styles */

/* section {
  min-height: 100%;
  margin-top: 200px;
} */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#ffcb9c, #eb65b8);
  color: #2a2744;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

a {
  text-decoration: underline;
  color: inherit;
}

/* FORM / INPUT */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: inline-block;
  border-radius: 4px;
  border-style: none;
  border: 2px solid #2a2744;
  width: 280px;
  height: 47px;
  font-size: 15px;
  line-height: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* flex: 1; */
  color: #2a2744;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.btn-submit {
  display: inline-block;
  border-radius: 4px;
  border-style: none;
  width: 280px;
  height: 47px;
  background: #2a2744;
  color: #f5f6f9;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
  margin: 0.5em 0;
}

.btn-submit:hover {
  background: #1e1b33;
  cursor: pointer;
}

/* BTN */

.btn {
  border-radius: 3px;
  display: inline-block;
  background: #d47154;
  color: #f5f6f9;
  text-decoration: none;
  padding: 1em 2em;
  margin: 0.5em 0;
}

.btn:hover {
  background: #c25a3a;
  color: #f5f6f9;
}

/* NAVBAR */
#nav-bar {
  opacity: 0.95;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  /* border-bottom: 1px solid #ccc; */
}

#nav-bar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #2a2744;
}

#nav-bar > ul > a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-grow: 4;
  height: 100%;
  text-decoration: none;
  color: #f5f6f9;
}

#nav-bar > ul > a:hover {
  background: #944455;
  color: #f5f6f9;
}

/* HEADER */
#header {
  margin-top: 70px;
  min-height: 450px;
  color: #2a2744;
  text-align: center;
}

#header .bg-image {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.2;
}

#header h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#header .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* SECTION A */

#section-a {
  background: #944455;
  color: #f5f6f9;
  padding-bottom: 2em;
}

/* SECTION B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  color: #f5f6f9;
  border-radius: 3px;
}

.card > img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-content {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#2a2744, #944455);
}

.card-content > .card-title {
  border-bottom: 1px solid #ccc;
}

.premium {
  height: 200%;
}

.price {
  font-size: 160%;
  font-weight: bold;
  padding-bottom: 0;
}

/* SECTION C */

#section-c {
  color: #333;
  padding: 2em;
}

/* SECTION D */

#section-d .box {
  padding: 2em;
  color: #f5f6f9;
}

#section-d .box-1 {
  background-color: #2a2744;
}

#section-d .box-2 {
  background-color: #944455;
}

/* FOOTER */

#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: #2a2744;
  color: #f5f6f9;
  text-align: center;
  border-top: #eb65b8 1px solid;
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a,
  #section-c,
  .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
  #myVideo {
    height: 600px;
  }
}
